<h1>Admin#index</h1>
<p>Welcome <%= current_user.name %>! This is the admin dashboard.</p>

<ul>
  <li><%= link_to 'Tags', admin_tags_path %></li>
  <li><%= link_to 'Forum Categories', admin_forum_categories_path %></li>
</ul>
