=button($bg: $color-primary, $fg: white)
  color: $fg
  background-color: $bg
  font-weight: bold
  padding: 3px 15px
  text-transform: capitalize
  text-decoration: none
  border: none
  border-radius: 2px
  font-family: $sans-serif
  cursor: pointer

  &:hover, &:active, &:focus
    color: $fg
    background-color: darken($bg, 10%)

=expand($pad: 0)
  position: absolute
  top: $pad
  left: $pad
  right: $pad
  bottom: $pad

=fa($icon)
  @extend .fa
  @extend .fa-#{$icon}:before

=fa-after($icon, $pad: 5)
  &:after
    +fa($icon)
    padding-left: $pad
    display: inline-block

=fa-before($icon, $pad: 5)
  &:before
    +fa($icon)
    padding-right: $pad
    display: inline-block
