// TODO: Replace by color-primary
$brand-primary: #ec2b48

// Colors
$color-font: #444

$color-primary: #ec2b48
$color-fandoms: #89ba28
$color-characters: #2b94ec
$color-genres: complement($color-characters)

$color-forum-fd: #2b94ec
$color-forum-gd: complement($color-forum-fd)
$color-forum-sp: #89ba28
$color-forum-ot: complement($color-forum-sp)

$color-border: #ccc

// Fonts
$serif: "Droid Serif", serif
$sans-serif: "Source Sans Pro", sans-serif
$font-raleway: "Raleway", sans-serif

// Font Sizes
$base-font-size: 1em
$h1-font-size: $base-font-size * 2.25
$h2-font-size: $base-font-size * 2
$h3-font-size: $base-font-size * 1.75
$h4-font-size: $base-font-size * 1.5
$h5-font-size: $base-font-size * 1.25
$h6-font-size: $base-font-size

// Line heigh
$base-line-height: 1.5
$header-line-height: 1.25

// Other sizes
$base-spacing: $base-line-height * 1em
