.forum-content
  width: 1110px
  margin: 30px auto

.btn
  padding: 3px 10px
  font-family: 'Source Sans Pro', sans-serif
  font-weight: bold
  border: none
  border-radius: 2px

.btn-default
  background-color: #e7e7e7
  &:hover
    background-color: darken(#e7e7e7, 5%)

.alert
  h1, h2, h3
    margin: 0 0 10px
  ul
    padding-left: 20px

// Location bar
.location
  display: block
  padding: 0
  margin: 0
  color: #777
  li
    +button(#e7e7e7, #444)
    display: inline-block
    text-align: center
    &._dropdown
      &:hover
        color: #444
      &:after
        content: '\f105'
        font-family: FontAwesome
        width: 20px
        display: inline-block
        margin-right: -5px
  li.active:after
    content: '\f107'
  a
    color: #777
    text-decoration: none
    &:hover, &:active, &:focus
      color: #444

.location-forums-link
  background-color: #e7e7e7
  display: block
  padding: 3px 10px
  margin-bottom: 2px
  text-decoration: none
  &.active
    background-color: darken(#e7e7e7, 10%)

// Forum Tags
.forum-tag
  font-family: "Source Sans Pro", sans-serif
  font-size: 85%
  text-transform: uppercase
  padding: 3px 8px
  color: white
  background-color: #444
  font-weight: bold
  text-decoration: none
  &:hover, &:active, &:focus
    color: white
    text-decoration: none
    opacity: 0.9

.forum-general-discussion
  background-color: $color-forum-gd
.forum-fic-discussion
  background-color: $color-forum-fd
.forum-support
  background-color: $color-forum-sp
.forum-offtopic
  background-color: $color-forum-ot
