.posts-table {
  width: 100%;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;

  th {
    color: #777;
    text-transform: uppercase;
  }

  td {
    padding: 5px;
  }

  .fa {
    color: #777;
    font-size: 90%;
    padding-right: 5px;
  }
}

  .posts-table-link {
    color: #444;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

.forum-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 36px;
}

.forum-pagination {
  margin-top: 50px;
}
