.post-form {
  font-family: 'Source Sans Pro', sans-serif;
  width: 640px;
  margin: 0 auto;

  h1 {
    font-weight: 900;
    text-transform: uppercase;
  }

  %form-input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 3px 6px;
    box-sizing: border-box;
    color: #444;
  }

  .post-title {
    @extend %form-input;
  }

  .post-content {
    @extend %form-input;
    height: 200px;
  }

  .actions {
    padding: 5px 0;
  }
}
