.private-messages-top-menu.horizontal-menu
  .private-messages-top-menu__left
    %a.horizontal-menu__item.button.button--primary.button--small{ href: new_private_message_path(box: @box), data: { toggle: 'tooltip' }, title: 'New message' }
      %i.fa.fa-envelope
  .private-messages-top-menu__right
    %a.horizontal-menu__item.button.button--small.button--disabled{ data: { toggle: 'tooltip' }, title: 'Delete selected' }
      %i.fa.fa-times
    %a.horizontal-menu__item.button.button--small{ data: { toggle: 'tooltip' }, title: 'Delete all in box' }
      %i.fa.fa-trash

.private-messages-container
  .vertical-menu.vertical-menu--no-border.private-messages-container__menu
    %a.vertical-menu__item{ class: ('active' if @box == 'inbox'), href: private_messages_path(box: 'inbox') } 
      Inbox
    %a.vertical-menu__item{ class: ('active' if @box == 'sent'), href: private_messages_path(box: 'sent') } 
      Sent

  .private-messages-container__list
    - @messages.each do |pm|
      %a.private-message-preview{ href: private_message_path(pm, box: @box) }
        .private-message-preview__author
          = pm.author.username
        .private-message-preview__title
          = pm.title
          //= link_to 'Reply', pm, class: 'private-message-link'
          //= link_to 'Delete', pm, remote: true, method: :delete, class: 'private-message-link'

  .private-messages-container__message.private-messages-container__message--none-selected
    None selected
  //.private-messages-actions
  //  = link_to 'Compose', new_private_message_path, class: 'primary'
