= render 'top_menu'

.private-messages-container
  .vertical-menu.vertical-menu--no-border.private-messages-container__menu
    %a.vertical-menu__item{ class: ('active' if @box == 'inbox'), href: private_messages_path(box: 'inbox') } 
      Inbox
    %a.vertical-menu__item{ class: ('active' if @box == 'sent'), href: private_messages_path(box: 'sent') } 
      Sent

  .private-messages-container__list
    - @messages.each do |message|
      %a.private-message-preview{ href: private_message_path(message, box: @box), class: ('private-message-preview--active' if message.id == @pm.id) }
        .private-message-preview__author
          = message.author.username
        .private-message-preview__title
          = message.title
          //= link_to 'Reply', pm, class: 'private-message-link'
          //= link_to 'Delete', pm, remote: true, method: :delete, class: 'private-message-link'

  .private-messages-container__message
    = render partial: 'form', locals: { message: @pm }
