    <div class="write clearfix" id="write">

      <div class="chapters">
        <h3>Chapters</h3>
        <ol>
        </ol>
        <a class="btn btn-default btn-add-chapter">
          <span class="fa fa-plus"></span>
          Add Chapter
        </a>
      </div>

      <div class="write-area">
        <input placeholder="Chapter Title" name="title" type="text" class="write-area-title">
        <p class="write-area-text">Loading...</p>
      </div>

      <div class="write-config">
        <span class="fa fa-question-circle btn-help"></span>
        <div class="write-config-panel hidden">
          <h3>Help</h3>
          <p>Below are the most common help topics, if you can't find what you
          are looking for, feel free to <a href="#">post at the forums</a> or <a
          href="#">contact us</a>. We'd also love to hear your feedback!</p>

          <h4>Formatting</h4>
          <p>To format text, simply highlight it and use the inline editor's
          buttons.</p>

          <h4>Saving</h4>
          <p>Saving is done automatically every 30 seconds, but you can do it
          manually by clicking the <strong>save</strong> button at the bottom
          right of the screen.</p>
        </div>
      </div>

      <div class="write-actions">
        <div class="btn btn-primary btn-save">Save</div>
        <%= link_to 'Back to fic', @story, { class: 'btn btn-default' } %>
      </div>
    </div>

<script id="tpl-chapter" type="x/template">
{{#chapter.selected}}
<li class="active">
{{/chapter.selected}}
{{^chapter.selected}}
<li>
{{/chapter.selected}}
  <a href="#chapter/{{chapter.title}}" class="chapter-title">{{chapter.title}}</a>
  <div class="chapter-action">
    <span class="btn-up fa fa-chevron-up"></span>
    <span class="btn-down fa fa-chevron-down"></span>
    <span class="btn-delete fa fa-times"></span>
  </div>
</li>
</script>
<script>var bootstrap = <%= raw @story.to_json(only: [:id, :title, :summary], include: { chapters: { only: [:id, :title, :content, :order] } }) %>;</script>
