body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', serif;
}

/* REUSABLE */
@include tag-genre('fandoms', $color-fandoms);
@include tag-genre('characters', $color-characters);
@include tag-genre('genres', $color-genres);

.pagination {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 0;
  margin: 0;
  display: block;
  text-align: center;

  .gap {
    padding: 2px 5px;
  }

  .page {
    padding: 2px 5px;
    border: 1px solid $brand-primary;
    border-radius: 2px;
  }

  .previous-page {
    @extend .page;
  }

  .next-page {
    @extend .page;
  }

  a {
    @extend .page;

    &:hover,
    &:active {
      text-decoration: none;
      border: 1px solid #444;
      color: #444;
    }

    &:focus {
      text-decoration: none;
      border: 1px solid #444;
      color: #555;
      background-color: #e1e1e1;
    }
  }

  .disabled {
    @extend .page;
    border: 1px solid #ddd;
    color: #999;
  }

  .current {
    @extend .page;
    font-weight: bold;
    background-color: $brand-primary;
    color: white;
    font-style: normal;
  }
}

.pagination-info {
  display: block;
  text-align: center;
  font-size: 90%;
  color: #777;
}

