// Common: Shared styles across all apps
.navigation
  +clearfix
  background-color: white
  padding: 20px 0
  font-family: "Source Sans Pro", sans-serif
  width: 1110px
  box-sizing: border-box
  margin: 0 auto
  .logo
    padding: 0
    margin: 0
    font-weight: 900
    text-transform: uppercase
    float: left
    font-size: 1.5em
    a
      text-decoration: none
      color: $brand-primary
      &:hover
        color: lighten($brand-primary, 10%)
  ul
    padding: 0
    margin: 0
    margin-right: -10px
    list-style: none
    float: right
  li
    display: inline-block
    padding: 0
    margin: 0
  %link
    font-size: 85%
    margin: 0 10px
    .fa
      padding-right: 5px
  .nav-link
    +button(#e9e9e9, #333)
    @extend %link
  .nav-link-primary
    +button
    @extend %link
  .nav-link-icon
    color: #444
    padding: 0 10px
    &:hover
      color: #777
  .nav-link-hidden
    display: none

.navigation-notifications
  background-color: $tooltip-background
  margin-top: 10px
  font-size: 85%
  p
    background-color: $tooltip-background
    padding: 5px 10px
    margin: 0
    color: $tooltip-color
    font-weight: 80%

.tooltip-item
  position: relative
  &:hover .tooltip
    opacity: 1
    visibility: visible
  .tooltip
    +transition(all 0.2s ease-in-out)
    min-width: $tooltip-width
    position: absolute
    left: 50%
    top: $tooltip-distance-from-item
    margin-left: -($tooltip-width/2)
    box-sizing: border-box
    background-color: $tooltip-background
    border-radius: $base-border-radius
    color: $tooltip-color
    font-size: .8em
    opacity: 0
    visibility: hidden
    z-index: 10
    font-family: $sans-serif
    text-align: center
    padding: 5px
    p
      margin-bottom: 0
    &:after
      +position(absolute, null null null 35%)
      border: 5px solid transparent
      color: $tooltip-background
      content: '▲'
      font-size: 1.4em
      pointer-events: none
      bottom: 10px
