.navigation
  +clearfix
  background-color: white
  padding: 20px 0
  font-family: "Source Sans Pro", sans-serif
  width: 1110px
  box-sizing: border-box
  margin: 0 auto

  .fa
    display: inline-block
    margin-right: 0.25em

  .logo
    padding: 0
    margin: 0
    font-weight: 900
    text-transform: uppercase
    float: left
    font-size: 1.5em
    a
      text-decoration: none
      color: $brand-primary
      &:hover
        color: lighten($brand-primary, 10%)
  ul
    padding: 0
    margin: 0
    margin-right: -10px
    list-style: none
    float: right

  li
    display: inline-block
    padding: 0
    margin: 0
