// All variables used only by the components inside stylesheets/common/
// Variables from stylesheets/includes/ are also available inside /common/

$tooltip-width: 100px
$tooltip-distance-from-item: 30px
$tooltip-background: white
$tooltip-color: #111

$button-group-background: white
$button-group-text: #444
$button-group-hover: #e9e9e9
$button-group-active-background: $color-primary
$button-group-active-text: white

$forms-border-color: $base-border-color
$forms-color: #444
$forms-font-size: 90%
