$brand-primary: #ec2b48

$color-fandoms: #89ba28
$color-characters: #2b94ec
$color-genres: complement($color-characters)

$color-forum-fd: #2b94ec
$color-forum-gd: complement($color-forum-fd)
$color-forum-sp: #89ba28
$color-forum-ot: complement($color-forum-sp)

// Fonts
$serif: "Noto Serif", serif
$sans-serif: "Source Sans Pro", sans-serif
