body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', serif;
}

/* REUSABLE */
@include tag-genre('fandoms', $color-fandoms);
@include tag-genre('characters', $color-characters);
@include tag-genre('genres', $color-genres);

.pagination {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 0;
  margin: 0;
  display: block;
  text-align: center;

  .gap {
    padding: 2px 5px;
  }

  .page {
    padding: 2px 5px;
    border: 1px solid $brand-primary;
    border-radius: 2px;
  }

  .previous-page {
    @extend .page;
  }

  .next-page {
    @extend .page;
  }

  a {
    @extend .page;

    &:hover,
    &:active {
      text-decoration: none;
      border: 1px solid #444;
      color: #444;
    }

    &:focus {
      text-decoration: none;
      border: 1px solid #444;
      color: #555;
      background-color: #e1e1e1;
    }
  }

  .disabled {
    @extend .page;
    border: 1px solid #ddd;
    color: #999;
  }

  .current {
    @extend .page;
    font-weight: bold;
    background-color: $brand-primary;
    color: white;
    font-style: normal;
  }
}

.pagination-info {
  display: block;
  text-align: center;
  font-size: 90%;
  color: #777;
}

/* LAYOUT */
.header {
  background: asset-url('header-bg.jpg') 50% 50%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;

  h1 {
    text-shadow: 1px 1px 0 black;
    font-size: 3.5em;
    font-weight: 900;
    text-transform: uppercase;
  }

  p {
    font-size: 1.7em;
    text-shadow: 1px 1px 0 black;
    font-weight: 300;
  }

  .btn {
    font-size: 1.2em;
    margin-top: 40px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 7px 55px;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  z-index: 2000;

  .navbar-brand {
    color: white;
    font-weight: 900;
    text-transform: uppercase;

    &:hover {
      color: #e7e7e7;
    }
  }

  .navbar-form {
    .form-group {
      position: relative;

      .fa {
        position: absolute;
        left: 15px;
        top: 10px;
        color: white;
        opacity: 0.75;
      }

      .form-control {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 100px;
        transition: width 0.25s, border-radius 0.4s;
        padding-left: 35px;

        &:focus {
          width: 250px;
          border-radius: 30px;
        }

        &::placeholder {
          color: #e7e7e7;
        }
      }
    }
  }

  .navbar-nav {
    i {
      padding-right: 5px;
      
      &.single {
        padding-right: 0;
      }
    }

    /* fix colors for dropdown items in navbar */
    .dropdown-toggle:focus {
      color: white;
    }

    .dropdown-toggle:hover {
      color: #444;
    }
    /* end of fix */

    li {
      a {
        color: white;

        &:hover {
          background-color: #e7e7e7;
        }
      }

      &.active a {
        background-color: $brand-primary;
        color: white;

        &:hover {
          background-color: lighten($brand-primary, 5%);
          color: white;
        }
      }
    }

    .visible-xs-inline-block {
      padding-left: 5px;
    }
  }

  .dropdown-menu {
    background-color: #e7e7e7;
    border-radius: 0;
    border: none;

    li a {
      color: #444;
    }
  }
}

.footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding: 20px;
  color: #777;
  font-size: 90%;

  .footer-menu {
    text-align: right;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .navbar-form {
      display: none;
    }

    .navbar-collapse {
      background-color: #e7e7e7;

      li {
        a {
          color: #444;
        }

        &.active a {
          background-color: $brand-primary;
          color: white;

          &:hover {
            background-color: lighten($brand-primary, 5%);
            color: white;
          }
        }
      }
    }
  }
}
