.story-header {
  background: asset-url('generic-header.jpg') 50% 55%;
  background-size: cover;
  height: 50px;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-align: center;
  @include gradient-background;
}

.article.story {
  h3 {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.reader {
  font-family: 'Noto Serif', sans-serif;
  font-size: 16px; // Increase font size by default
  line-height: 1.5;
  max-width: 960px;
  margin: 0 auto -20px;
  padding: 35px 15px 15px;

  h1 {
    text-align: center;
    font-size: 3em;
    opacity: 0;
    animation: appear-from-below 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
}

.reader.dark {
  background-color: #444;
  color: #f1f1f1;

  .reader-author-link {
    color: white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

  .reader-author {
    opacity: 0;
    text-align: center;
    display: block;
    animation: appear-from-below 1s;
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
  }

  .chapter {
    animation: appear-from-below 1s;
  }

  .reader-actions {
    padding: 15px 0;

    .fa {
      transition: padding 0.25s;
    }

    .prev {
      float: left;

      &:hover {
        .fa {
          padding-right: 5px;
        }
      }
    }

    .next {
      float: right;

      &:hover {
        .fa {
          padding-left: 5px;
        }
      }
    }
  }

/* Animations */
@keyframes appear-from-below {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
